<nav class="navbar navbar-expand-sm bg-light mb-3">
  <!-- Links -->
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='' [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']">List of my Books</a>
      </li>
      <li class="nav-item" *ngIf='userIsAuthenticated'>
        <a class="nav-link" routerLink="/create" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']">Add new Book</a>
      </li>
    </ul>
  </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf='!userIsAuthenticated'>
          <a class="nav-link" routerLink="/auth/login" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']">Login</a>
        </li>
        <li class="nav-item" *ngIf='!userIsAuthenticated'>
          <a class="nav-link" routerLink="/auth/signup" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']">Signup</a>
        </li>
        <li class="nav-item" *ngIf='userIsAuthenticated'>
          <button class="btn btn-info mr-3" (click)='showCollection($event.target)'>Show All Books</button>
        </li>
        <li class="nav-item" *ngIf='userIsAuthenticated'>
          <button class="btn btn-danger" (click)='onLogout()'>Logout</button>
        </li>
      </ul>
    </div>
</nav>
