<div class="d-flex justify-content-center" *ngIf='isLoading'>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center container ">

  <div class="row">
  <form [formGroup]='form' id='new-book-form' (submit)='onSaveBook()' *ngIf='!isLoading'>
    <div class="form-group">
      <h5 for="name">Author Name</h5>
      <input type="text"
        class="form-control"
        placeholder="John Doe"
        formControlName='author'
        >
      <small class="form-text text-muted">Please enter a full name</small>
      <span class='text-danger' *ngIf='author.invalid && author.touched'>This field cannot be left empty!</span>
    </div>
    <div class="form-group">
      <h5 for="book-name">Book Title</h5>
      <input type="text"
       class="form-control"
        placeholder="Book of all books"
        formControlName="title">
    </div>
    <small class="form-text text-muted">Please enter the title of the book</small>
    <span class='text-danger' *ngIf='title.invalid && title.touched'>This field cannot be left empty!</span>
    <div class="form-group">
      <h5 for="book-description">Short description</h5>
      <textarea
        rows="5"
        type="text"
        class="form-control"
        placeholder="Book of all books"
        formControlName='description'
        ></textarea>
        <small class="form-text text-muted">What is the book about? Describe it please</small>
        <span class='text-danger' *ngIf='description.invalid && description.touched'>This field cannot be left empty!</span>
    </div>
    <h6>Add book image</h6>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" #filePicker (change)='onImagePicked($event)'
      >
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <div class='image-preview' *ngIf='imagePreview !== "" && imagePreview && form.get("image").valid'>
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <button [disabled]='form.invalid' #addEditButton class="btn btn-primary mt-3" >Add to collection</button>
  </form>
  </div>
</div>




