<app-search *ngIf='searchBarView'></app-search>
<h1 class="text-center mb-5">My Library</h1>
<button *ngIf='userIsAuthenticated' type="button" class="btn btn-outline-secondary btn-lg" (click)='toggleSearchBar($event.target)'>Search my Books</button>
 <div class="d-flex justify-content-center" *ngIf='isLoading'>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
  <hr>
  <div class="card mb-3 mr-3 card-container" *ngFor="let book of books">
    <div class="row no-gutters body-container">
      <div class="col-md-4 image-container">
       <img [src]="book.imagePath" class='card-image' alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a class="btn btn-warning w-100 mb-1" [routerLink]="['/details', book.id]">Show More Details</a>
          <h5 class="card-title text-center">{{book.title}}</h5>
          <h6 class="text-muted d-inline"> By: </h6>
          <span>{{ (book.author) | slice:0:18}}</span>
          <br>
          <p class="card-text text-muted d-inline">Short description: </p>
      <span class='description-text' small>{{ (book.description.length>6)? (book.description | slice:0:160)+'...':(book.description)}}</span>
      <div class='buttons-div' *ngIf='userIsAuthenticated && userId === book.creator'>
        <button (click)="onDeleteBook(book.id)" class="btn btn-danger btn-sm mr-1">Delete Book</button>
        <button [routerLink]="['/edit', book.id]" class="btn btn-info btn-sm float-right">Edit Book</button>
      </div>
        </div>
      </div>
    </div>

  </div>
  <p *ngIf='books.length <= 0 !isLoading'> No books added yet</p>
  <button class="btn btn-info lg view-settings" (click)='toggleViewSettings($event.target)' *ngIf='userIsAuthenticated'>Show View Settings</button>

<app-page-view *ngIf="settingsView && (userIsAuthenticated === true)"></app-page-view >



